<div class="reset-password-container">
  <h1>Reset Your Password</h1>
  <p>Enter your new password below. You have {{ timeLeft / 60 | number:'1.0-0' }}:{{ timeLeft % 60 | number:'2.0' }} minutes to reset your password.</p>
  
  <form>
    <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="newPassword" name="newPassword" required>
      <span class="placeholder" [class.hide]="newPassword">New Password</span>
      <div *ngIf="passwordError" class="error">{{ passwordError }}</div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      <span class="placeholder" [class.hide]="confirmPassword">Confirm New Password</span>
    </div>
    
    <button type="button" class="btn" (click)="onResetPassword()">Reset Password</button>
  </form>
</div>
