<div class="coding-moon-challenge">
  <h1>CODING MOON SIGN IN</h1>
  <p>Welcome back! Sign in to continue your journey in the Coding Moon Challenge.</p>
  
  <form>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="teamName" name="teamName" required>
      <span class="placeholder" [class.hide]="teamName">Your Team Leader Email</span>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
      <span class="placeholder" [class.hide]="password">Your Password</span>
    </div>
    <div class="form-group">
      <a href="#" routerLink="/forgot-password" class="forgot-password">Forgot Password?</a>
    </div>
    
    <div *ngIf="errorMessage" class="error-message" style="color: red;">
      {{ errorMessage }}
    </div>
    
    <button type="button" class="btn" (click)="onSignIn()">Sign In</button>
    
    <!-- New section for "Don't have an account?" -->
    <div class="no-account">
      <span style="color: white;">Don't have an account?</span>
      <a href="#" routerLink="/coding-moon-form" class="register-link">Sign up</a>
    </div>
    <div class="no-account">
      <span style="color: white;">Not Verified?</span>
      <a href="#" routerLink="/verify-email" class="register-link">Verify Here</a>
    </div>
  </form>
</div>
