.password-reset-confirmation-container {
    width: 900px;
    margin: auto;
    background: url('/assets/bg2.png') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 50px 20px;
    background-color: #000;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255,255,255,0.3);
    color: #fff;
}

.password-reset-confirmation-container h1 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}

.password-reset-confirmation-container p {
    color: #ccc;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}

@media (max-width: 768px) {
    .password-reset-confirmation-container {
        width: 90%;
    }
}
