.coding-moon-challenge {
    width: 900px;
    margin: auto;
    background: url('/assets/bg2.png') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 50px 20px;
    background-color: #000;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255,255,255,0.3);
  }
  .date-input {
    position: relative;
  }
  .file-upload-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  #custom-button {
    /* Style your button as needed */
    display: inline-block;
    cursor: pointer;
  }
  
  #file-upload {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  
  .date-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  .coding-moon-challenge h1 {
    color: #fff;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
    display: inline-block;
  }
  
  .coding-moon-challenge p {
    color: #ccc;
    margin-bottom: 40px;
  }
  
  .form-group {
    position: relative;
    margin-bottom: 25px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #fff;
    text-align: center;
    outline: none;
  }
  
  .placeholder {
    color: #ddd;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
  /* Hides the placeholder when the corresponding model has a value */
  .hide {
    opacity: 0;
    visibility: hidden;
  }
  
  .btn {
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    margin-top: 30px;
  }
  /* Add this new class for wrapping input elements */
.input-wrapper {
  display: flex;
  justify-content: center; /* Center the input field */
}

.form-control {
  width: 50%; /* Adjust this to control the input width itself */
  padding: 10px 20px; /* Adjust padding as needed */
  /* Other styles remain the same */
}

/* Adjust the width of the border-bottom to make lines thinner if needed */
.form-control {
  border-bottom: 1px solid #ccc; /* Keep this for the line under the input */
}

  .btn:hover{
    background-color: #000;
    color: #fff;
  }
  @media (max-width: 768px) {
    .coding-moon-challenge {
      width: 90%;
    }
  }
  