<div class="coding-moon-challenge">
  <h1>CODING MOON CHALLENGE</h1>
  <p>Once you've completed this step, you'll officially be part of Coding Moon Challenge community! Prepare for a journey filled with camaraderie, challenges, and, of course, a touch of wizardry. Let the magical coding commence!</p>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="firstName" name="firstName" required>
      <span class="placeholder" [class.hide]="firstName">Your First Name</span>
      <div *ngIf="formSubmitted && !isValidName(firstName)" class="error-message" style="color: red;">Please enter a valid first name.</div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="lastName" name="lastName" required>
      <span class="placeholder" [class.hide]="lastName">Your Last Name</span>
      <div *ngIf="formSubmitted && !isValidName(lastName)" class="error-message" style="color: red;">Please enter a valid last name.</div>
    </div>
    
    <div class="form-group">
      <input type="email" class="form-control" [(ngModel)]="email" name="email" required>
      <span class="placeholder" [class.hide]="email">Your Email Address</span>
      <div *ngIf="formSubmitted && !isValidEmail(email)" class="error-message" style="color: red;">Please enter a valid email address.</div>
    </div>
    <div class="form-group">
      <input type="tel" class="form-control" [(ngModel)]="phoneNumber" name="phoneNumber" required>
      <span class="placeholder" [class.hide]="phoneNumber">Your Phone Number</span>
      <div *ngIf="formSubmitted && !isNumeric(phoneNumber)" class="error-message" style="color: red;">Please enter a valid phone number.</div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="university" name="university" required>
      <span class="placeholder" [class.hide]="university">Your University</span>
    </div>
    <div class="form-group date-input">
      <input type="date" class="form-control" [(ngModel)]="dateOfBirth" name="dateOfBirth" required>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="teamPassword" name="teamPassword" required>
      <span class="placeholder" [class.hide]="teamPassword">Your Team Password</span>
      <div *ngIf="formSubmitted && teamPassword.length < 6" class="error-message" style="color: red;">Password must be at least 6 characters long.</div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="cteamPassword" name="cteamPassword" required>
      <span class="placeholder" [class.hide]="cteamPassword">Confirm Your Team Password</span>
      <div *ngIf="formSubmitted && teamPassword !== cteamPassword" class="error-message" style="color: red;">Passwords do not match.</div>
    </div>
    <div class="form-group">
<!-- Custom file upload button and hidden file input -->
<div class="file-upload-wrapper">
  <button type="button" id="custom-button" (click)="triggerFileInput()">Upload Your CV</button>
  <input type="file" class="form-control" (change)="onFileSelect($event)" name="cv" id="file-upload" style="opacity: 0; position: absolute; left: 0; top: 0;">
  <span *ngIf="selectedFileName" class="file-name" style="color:white;">{{ selectedFileName }}</span>
</div>
<div *ngIf="errorMessage" class="error-message" style="color: red;">
  {{ errorMessage }}
</div>
</div>

    

    <div *ngIf="formSubmitted && errorMessage" class="error-message" style="color: red;">
      {{ errorMessage }}
    </div>
    <button type="submit" class="btn">Confirm</button>
  </form>
</div>
